@page "/counter"  
@page "/counter/{startingCount:int}"
@inject NavigationManager NavigationManager

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<button class="btn btn-warning" @onclick="MoveMeToHome">Home Page</button>

<ChildComponent>Hi I'm a child!</ChildComponent>

@code {
    [Parameter]
    public int StartingCount { get; set; } = 0;

    private int currentCount = 0;

    protected override void OnInitialized()
    {

        currentCount = StartingCount;
    }

    private void IncrementCount()
    {
        currentCount++;
    }
    private void MoveMeToHome()
    {
        NavigationManager.NavigateTo("/");
    }

    
}
